{% extends 'MyApp/base.html' %}
{% block header %}
    <header>
        <div class="top-nav ">
            <nav class="container ">
                <div class="row">
                    <div class="col-md-4 navbar-left ">
                        <h3 class="lead"> Nazwa Strony
                        </h3>
                    </div>

                    <div class="col-md-8 navbar-right ">
                        <ul class="list-inline">

                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <div class="bottom-nav ">
            <nav class="container ">
                <div class="row menu">
                    <nav class="navbar ">
                        <div class="ico-picture"><button type="button"><img src="{% static 'images/Social_Media_Cloud.png' %}" /><span>Python</span></button></div>
                        <div class="ico-picture"><button type="button"><img src="{% static 'images/Social_Media_Cloud.png' %}"/><span>C#</span></button></div>
                        <div class="ico-picture"><button type="button"><img src="{% static 'images/Social_Media_Cloud.png' %}"/><span>.Net</span></button></div>
                        <div class="ico-picture"><button type="button"><img src="{% static 'images/Social_Media_Cloud.png' %}"/><span>VBA</span></button></div>
                    </nav>
                </div>
            </nav>
        </div>
    </header>
{% endblock header %}
